.App {
  text-align: center;
}
body {
  font-family: 'Lato', sans-serif;
    background-color: #d1d1d1; /* Change to your preferred background color */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  padding: 40px; 
}

.card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: space-between; /* Add space between items */
}

.card img {
  width: calc(100% - 20px); /* Adjust image width to account for padding */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}




.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-top: 0;
}


.card p {
  margin-bottom: 10px;
}

.card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
